<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>F569A01D-5EC9-438B-B110-19FECB2BC3EC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sg</string>
			<key>text</key>
			<string>Find code: {query}</string>
			<key>url</key>
			<string>https://sourcegraph.qa.indeed.net/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
